@import "~normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767AD;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0 0 68px 0;
  }

}

.glass-container {
  position: relative;

  &__counter {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 112px;
    line-height: 131px;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button--add {
  min-width: 216px;
  height: 47px;
  margin-top: 48px;
  margin-bottom: 37px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 4px;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #2196F3;
  }
}

.button--delete {
  color: #F5E5E7;
  min-width: 184px;
  height: 23px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;
  &:hover {
    text-decoration: underline;
    text-decoration-color: #2196F3;
  }
}